
\.idea/

core/__pycache__/

test_run\.py

cogs/__pycache__/

config/__pycache__/

shell/__pycache__/

data/shard_info/shard_0\.json

config/settings\.py

*.log

__pycache__/
/run_autorestart.sh
/run_normal.sh
/start_launcher.sh

temp\.py
