aiohttp
async-timeout
CacheControl
certifi
cffi
chardet
colorama
colorlog
discord.py
idna
imdbpie
lockfile
msgpack-python
multidict
Pybooru
pycparser
PyNaCl
Python-Trivia-API
requests
six
urllib3
websockets
